iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = true
        files {
            idkey = "id"
            global = [
                "**/arborator/cluster_summary.tsv",
                "**/arborator/metadata.included.tsv",
                "**/arborator/metadata.excluded.tsv",
            ]
        }
    }
}